[Unit]
Description=Num Lock Simulation Service
After=graphical.target

[Service]
Type=simple
ExecStart=/opt/apps/org.yxzl.candle/bin/numlockd
Restart=on-failure
SupplementaryGroups=input

[Install]
WantedBy=graphical.target
